body {
  background-color: #fafafa;
}

/* FORM WRAPPER */
.formWrap {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  margin-top: 3rem;
}

/* MAIN HEADER */
.mainHeader {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

/* .inputSignup {
  background: #fafafa;
} */
