.wraperNav {
  background-color: #f44336;
  height: 100px;
  padding-top: 1rem;
}
/* nav ul a {
  font-size: 20px;
}
nav ul a:hover {
  border-radius: 6px;
}

.active {
  border-bottom: solid 1px #c62828; 
   background-color: #c62828;
} */
