/* BUTTONS */
.btnReg {
  background-color: #f44336;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* FORM WRAPPER */
.formWrap {
  width: 50%;
  margin: 0 auto;
}

/* MAIN HEADER */
.mainHeader {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 3rem;
}

/* .inputSignup {
  background: #fafafa;
} */
